# Build artifacts
target/
bin/
build/

# Eclipse metadata & settings
.metadata/
.settings/
.classpath
.project
*.tmp
*.bak

# JDBC local settings
src/main/resources/com/spring/properties/jdbc.properties

# OS metadata
.DS_Store
Thumbs.db

.env
**/.env